header{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20rem;
}

header p{
    color: rgb(221, 220, 220);
    cursor: pointer;
    font-size: 1.6rem;
}

header p:hover{
    color: rgb(247, 242, 242);
}

header p:active{
    opacity: 0.8;
}